@inject IViewLocalizer Localizer
@model Order

@{
    ViewData["Title"] = "Доставка";
}
<form asp-action="DeliverConfirmed" method="post" asp-route-id="@Model.Id">
    <button class="btn btn-success form-control" type="submit">Доставить</button>
</form>