@inject IViewLocalizer Localizer
@model ProcessOrderViewModel
@{
    ViewData["Title"] = "";
}

<form asp-action="ProcessConfirmed" method="post" asp-route-id="@Model.Order.Id">
    @if (Model.CanProcess)
    {
        <button class="btn btn-success form-control" type="submit">@Localizer["Process"]</button>
    }
    else
    {
        <div class="display-4 text-center mb-4">
            @Localizer["Can't process order"]
        </div>
    }
</form>