@inject IViewLocalizer Localizer
@model ProcessOrderViewModel
@{
    ViewData["Title"] = "";
}

<form asp-action="ProcessConfirmed" method="post" asp-route-id="@Model.Order.Id">
    @if (Model.CanProcess)
    {
        <button class="btn btn-success form-control" type="submit">Обработать</button>
    }
    else
    {
        <div>@Localizer["Не могу обработать отправку"]</div>
    }
</form>