@inject IViewLocalizer Localizer
@model CreateProductViewModel
@{
    ViewData["Title"] = "";
}
<form asp-action="Create" method="post">
    <div class="form-group mb-2">
        <label class="form-label">@Localizer["Name"]</label>
        <input class="form-control" asp-for="Name"/>
    </div>
    <div class="form-group mb-2">
        <label class="form-label">@Localizer["Measurement unit"]</label>
        <input class="form-control" asp-for="MeasurementUnit"/>
    </div>
    <div class="form-group mb-2">
        <label class="form-label">@Localizer["Measurement unit abbreviation"]</label>
        <input class="form-control" asp-for="MeasurementUnitAbbreviation" />
    </div>
    <div class="form-group mb-2">
        <button class="btn btn-success" type="submit">
            @Localizer["Create"]
        </button>
    </div>
</form>