@model IEnumerable<MSUser>
@{
    ViewData["Title"] = "";
}
<div class="row g-2">
@foreach(var user in Model)
{
    <div class="col">
        <div class="card">
            <div class="card-body">
                @user.UserName
            </div>
        </div>
    </div>   
}
</div>